form{
  position: relative;
  padding: res(15, 20);
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  transition: .3s ease;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  input, select, textarea{
    background-color: #ffffff;
    color: var(--text);
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: res(8, 12) res(10, 15);
    appearance: none;
    width: 100%;
    transition: .5s ease;
    &.err{
      box-shadow: 0 0 16px red inset;
    }
  }
  textarea{
    height: res(100, 150);
    resize: none;
  }
  label{
    width: 100%;
    font-size: res(12, 15);
    color: #3f4b5b;
    display: block;
    margin-bottom: 5px;
  }
  button, input[type="submit"]{
    width: 100%;
    font-size: res(13, 15);
    text-align: center;
    border-width: 1px solid #579AF6;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 1px 1px #eeeeee;
    background: #3256C6;
  }
  h3{
    font-size: res(16, 18);
    font-weight: bold;
    color: #444444;
    margin-bottom: 20px;
  }
  h2{
    font-size: res(18, 24);
    font-weight: bold;
    color: #444444;
    text-align: center;
  }
}

.field{
  &:not(:first-child){
    margin-top: res(10, 20);
  }
  &__required{
    &:after{
      content:"*";
      color: #B94A48;
      display: inline-block;
      margin-left: 5px;
    }
  }
  &__loader{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    z-index: 5;
    &:before, &:after{
      content:"";
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: left top;
    }
    &:before{
      width: 50px;
      height: 50px;
      border-top: 2px solid #3256C6;
      animation-duration: 1s;
    }
    &:after{
      width: 40px;
      height: 40px;
      border-bottom: 2px solid #FF9933;
      animation-duration: .5s;
    }
    &-active{
      display: block;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

.step{
  overflow: hidden;
  opacity: 0;
  max-height: 0px;
  transition: .5s ease-out;
  &__active{
    transition: 1s ease-in .5s;
    max-height: 2000px;
    opacity: 1;
  }
}




