.post{
  &__list{
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0, .04);
    margin-top: 15px;
  }
  &__item{
    padding: 10px 15px;
    &:nth-child(odd) {
      background-color: #f6f7f7;
    }
    p{
      margin: 3px 0;
    }
    b{
      font-size: 110%;
    }
  }
  &__table{
    width: 100%;
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0, .04);
    margin-top: 15px;
    border-spacing: 0;
    td, th{
      padding: 10px 15px;
      text-align: center;
      &:nth-child(1){
        width: 30px;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5){
        text-align: left;
      }
    }
    th{
      font-size: 14px;
      font-weight: 400;
      color: #2c3338;
      line-height: 1.4em;
      border-bottom: 1px solid #c3c4c7;
    }
    td{
      font-size: 14px;
      line-height: 1.5;
      b{
        font-weight: 600;
      }
    }
    tbody{
      tr{
        &:nth-child(odd) {
          background-color: #f6f7f7;
        }
      }
    }
  }
}